<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">


  <!--! Define some usefull functions -->
  <py:def function="paste_item(paste)">
    <span class="pasteitem">(<a href="#" id="source_${paste.id}"
                                class="viewtoggle">View</a>)</span>
    ${h.link_to(paste.title or 'Untitled',
      h.url_for('paste', id=paste.id))} by ${paste.author} posted on
    ${paste.date.strftime('%b %d, %Y at %I:%M%p')}<br />
    <div class="code_${paste.id}" style="display: none;">
    <div class="tags" py:if="paste.tags">Tags: <span style="taglist">
    <py:for each="tag in paste.tags">
      ${ h.tag.a(tag.name, href=h.url_for('pastetag', id=tag.name)) }&nbsp;
    </py:for></span>
    </div>
    ${h.code_highlight(paste)}
    </div>
  </py:def>


  <py:def function="page_nav">
    <a py:if="not c.paginator.current.first"
       href="${h.url_for(page=(c.paginator.current_page-1))}">&larr; Prev</a>
    <span py:if="c.paginator.current.first"
          style="color: #bbb;">&larr;  Prev</span>
    <a py:if="not c.paginator.current.last"
       href="${h.url_for(page=(c.paginator.current_page+1))}">Next &rarr;</a>
    <span py:if="c.paginator.current.last"
          style="color: #bbb;">Next &rarr;</span>
  </py:def>


  <span py:def="tagcloud(tag_info)" style="font-size: ${tag[2] * 1.3}px;"
        py:for="tag in tag_info"><a
    href="${h.url_for('pastetag', id=tag[0])}">${tag[0]}</a>
  </span>



  <ul py:def="buildtree(paste, current_id)">
    <li py:for="child in paste.children">
      <span class="current_id" py:strip="child.id != current_id">
        ${paste_item(child)}
      </span>
      <py:if test="child.children is not []">${buildtree(child, current_id)}</py:if>
    </li>
  </ul>

  <!--! Define some usefull functions ENDED -->

</html>
