<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <head py:match="head">
    <title py:with="title = unicode(select('title/text()'))">
      ${ '  -  '.join(filter(None, [u"%s Pastie" % c.app_name , title])) }
    </title>
    <meta http-equiv="content-type"
          content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Pedro Algarvio" />
    <meta name="copyright" content="Pedro Algarvio" />
    <link rel="shortcut icon" href="${h.url_for('/img', qualified=True)}/favicon.png"/>
    ${ h.stylesheet_link_tag('/css/initial.css') }
    ${ h.stylesheet_link_tag('/css/main.css') }
    ${ h.stylesheet_link_tag('/css/pygments_default.css') }

    ${ h.javascript_include_tag('/js/jquery-latest' + (c.debug_mode and '.' or '.pack.') + 'js') }
    ${ h.javascript_include_tag('/js/jquery.easing.js') }
    <!--
    ${ h.javascript_include_tag('/js/jquery.dimensions.pack.js') }
    ${ h.javascript_include_tag('/js/jquery.interface.js') }
    ${ h.javascript_include_tag('/js/jquery.interface.ifxslide.js') }
    ${ h.javascript_include_tag('/js/jquery.selectboxes.js') }
     -->

    <script type="text/javascript">
      $(document).ready(function() { $('#fakebody:hidden').show(); });
    </script>

    ${select("*|text()")}


  </head>

  <body py:match="body">
    <noscript>
      <div id="warning">
        <div>
          <span>
            ${ _("Warning, your browser does not support JavaScript and is not "
                 "capable of displaying the latest web pages such as those found "
                 "on this site. Some of the functionality will be disabled.")
             }
          </span>
        </div>
      </div>
    </noscript>
    <div id="fakebody" style="display: none;">
      <span id="message" class="sys-message" py:if="c.message">
        ${ c.message }
      </span>
      <div id="header"><span>${h.image_tag('/img/logo.png')}</span>
      </div> <!--! header div ended -->
        <div id="menu">
          <ul>
            <li>${ h.link_to_unless_current(_('New'),
                                            h.url_for('newpaste')) }</li>
            <li>${ h.link_to_unless_current(_('All'),
                                            h.url_for('list')) }</li>
            <li>${ h.link_to_unless_current(_('Tags'),
                                            h.url_for('tagcloud')) }</li>
          </ul>
        </div> <!--! menu div ended -->
      <div id="content">
        <!--! Grab inheriting templates body -->
        ${select("*|text()")}
      </div> <!--! content div ended -->
    </div> <!--! fakebody div ended -->

    <div id="footer2">
      <span id="copy1" xml:lang="en" title="click..." class="copyright"><b>&copy;</b></span>
      <span id="copy2" xml:lang="en" title="click..." class="copyright">
        2007 &copy; Pedro Algarvio
      </span>
    </div>
    <script type="text/javascript">
      $('#copy2').css('left', -200);
      $('#copy1').css('left', 0);
      $('#copy1').click(function() {
        $(this).animate({left: -200}, 300, 'easeOutSine', function() {
          $('#copy2').animate({left: 0, opacity:100},
                              {duration: 300, easing: 'easeInExpo'});
        });
      });
      $('#copy2').click(function() {
        $(this).animate({left: -200}, 300, 'easeOutSine', function() {
          $('#copy1').animate({left: 0},
                              {duration: 600, easing: 'easeInExpo'});
        });
      });
    </script>
    <script type="text/javascript" py:if="c.message">
      $(document).ready(function() {
        setTimeout("$('#message').Puff(400);", 10000);
      });
    </script>
  </body>
</html>
<!--!
$Id: layout.html 37 2007-12-30 19:57:53Z s0undt3ch $
vim: sw=2 ts=2 fenc=utf-8 ft=kid et
-->
