/*
 * vim: sw=2 ts=2 fenc=utf-8
 */

#header {
    width: 100%;
    height: 61px;
    background: url(../img/header_bg.png) repeat-x bottom left;
}

#header span { color: #fff; font-size: 2em; padding: 10px; }
#fakebody {
  position: relative; min-height: 100%; width: 100%;
  margin: 0 auto; background-color: #fff; */
}

* html #fakebody { height: 100%; }

#lang_div {
    float: right;
    position: relative;
    right: 2px;
    top: 2px;
    font-size: 0.7em;
}
#lang_div label { font-weight: bold; color: #fff;}

/* Menu */
#menu {
    float: right;
    position: relative;
    top: 0px;
    margin: 0px;
    height: 29px;
    background: url(../img/menu_bg.png) no-repeat left bottom;
    color: #fff;
    font-weight: bold;
    font-size: 0.7em;
}
#menu ul { margin: 0; padding: 5px 5px 5px 50px; list-style: none; }
#menu li { display: inline; padding: 5px; }
#menu a { color: #ccc; text-decoration: none; }
#menu a:hover { color: #fff; }


.copyright {
    float: left;
    position: absolute;
    top: 61px;
    left: 0px;
    margin: 0px;
    height: 23px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 5px;
    color: #fff;
    cursor: help;
    background: url(../img/copy_bg.png) no-repeat right top;
    font-size: 0.5em;
    font-weight: bold;
    font-style: italic;
}
#copy1 { font-size: 0.8em; }

#content {
  padding: 5px 10px; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; width: 95%;
}

/* Error Message shown on forms with invalid fields */
.error-message {
    margin-left: 10px;
    color: red;
    background-color: #ffffe1;
    padding: 2px 2px 2px 25px;
    font-weight: bold;
    font-size: 90%;
    background-image: url(../img/warning.gif);
    background-repeat: no-repeat;
}

.warning-message {
    background-color: #ffffe1;
    border: 1px dashed red;
    margin: 15px;
    padding: 5px;
}

.info-message {
    background: #c6ffa2 url(../img/info.png) no-repeat left top;
    border: 1px dashed #81be63;
    margin: 15px;
    padding: 0px 15px 0px 25px;
    font-size: 0.7em;

}
.info-message tt { font-size: 1.5em; font-weight: bold; }

.sys-message {
    position: absolute;
    top: 30px;
    right: 25px;
    color: yellow;
    font-weight: bold;
    letter-spacing: 1px;
}

#warning { border-bottom: 1px solid #808080; background-color: #FFFFE1; }
#warning span { padding: 1px 1px 1px 30px; margin: 0px; font-family: Tahoma, sans-serif; font-size: 13px; }
#warning div {
    border-bottom: 1px solid #404040;
    background-image: url(../img/warning.gif);
    background-repeat: no-repeat;
    margin-left: 3px;
}

table td.code {
    width: 100%;
}


/* @override http://localhost:5000/style/paste.css */

input, select {
    border: 1px solid #aaa;
    font-family: 'Verdana', 'Bitstream Vera Sans', sans-serif;
    font-size: 13px;
}

input:focus {
    border: 1px solid #BA832B;
}

textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #aaa;
    font-family: 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size: 13px;
}

textarea:focus {
    border: 1px solid #BA832B;
}

div.syntax,
div.plain {
    padding: 10px;
    border: 1px solid #aaa;
    overflow: auto;
}
div.syntax pre,
div.plain pre {
    margin: 0;
    padding: 0;
    font-family: 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
}
div.syntax td.linenos,
div.plain td.linenos {
    padding: 0 20px 0 0;
    opacity: 0.5;
}

.sidebar {
    margin-top:  20px;
    border-left: 1px solid gray;
}

#recent-pastes {
    margin: 0;
    padding: 0 0 4px 6px;
}

#recent-pastes .paste_title {
    font-size: 122%;
    font-weight: bold;
    font-variant: small-caps;
}

#recent-pastes ul.paste_entry {
    font-size: 92%;
    margin-left: 14px;
}

#tagautocomplete {
    position:relative;
    margin-bottom: 5px;
    height: 1.4em;
}
#autocomplete {position:relative;width:100px;margin-bottom:1em;}/* set width of widget here*/
#autocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */
#tags {_position:absolute;width:450px;height:1.4em;z-index:0;} /* abs for ie quirks */
#autocomplete {position:absolute;top:1.7em;width:140px;}
#autocomplete .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
#autocomplete .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#autocomplete ul {padding:5px 0;width:100%; list-style: none; margin: 0;}
#autocomplete li {padding:0 5px;cursor:default;white-space:nowrap;}
#autocomplete li.yui-ac-highlight {background: #eafec2;}
#autocomplete li.yui-ac-prehighlight {background:#FFFFCC;}

/* Navigation */
.nav h2, .nav hr { display: none }
.nav ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.nav li {
 border-right: 1px solid #d7d7d7;
 display: inline;
 padding: 0 .75em;
 white-space: nowrap;
}
.nav li.last { border-right: none }

/* Context-dependent navigation links */
#ctxtnav {
    height: 1em;
    margin-top: 0px;
    margin-bottom: 10px;
    clear: both;
}
#ctxtnav li ul {
 background: #f7f7f7;
 color: #ccc;
 border: 1px solid;
 padding: 0;
 display: inline;
 margin: 0;
}
#ctxtnav li li { padding: 0; }
#ctxtnav li li :link, #ctxtnav li li :visited { padding: 0 1em }
#ctxtnav li li :link:hover, #ctxtnav li li :visited:hover {
 background: #bba;
 color: #fff;
}

h2 {
    margin-top: 0px;
}
#bd {
    padding-top: 10px;
}
.pasteitem {
    color: grey;
    font-size: 10px;
}

#paste td.linenos {
    background-color: #333;
    padding-right: 5px;
    padding-left: 20px;
    text-align: right;
    color: #eee;
}

#paste .code, #paste.code {
    padding-left: 10px;
}

#paste pre {
    margin: 0;
    padding: 5px 0 5px 0;
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
}
