<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <xi:include href="../helpers.html" />
  <head>
    <title>Diferences Between Pastes #${c.paste.id} and #${c.parent.id}</title>
  </head>
  <body>
    <h2 style="font-size: 18px; font-weight:bold;">
      Diferences Between Pastes #${c.paste.id} and #${c.parent.id}
    </h2>

    <ul>
      <li>Paste #$c.paste.id ${paste_item(c.paste)}</li>
      <li>Paste #$c.parent.id ${paste_item(c.parent)}</li>
    </ul>

    <div id="paste" style="width: 100%;">
    <div id="paste_menu"><ul style="right: 0px;">
      <li style="display:none;"><a class="toggle_linenumbers"
          href="javascript:;">Toggle Line Numbers</a></li>
    </ul></div>
    ${h.code_highlight(c.paste, diff_to=c.parent)}
    </div>

    <script type="text/javascript">
      $('li:hidden').show();
      $('a.toggle_linenumbers').bind('click', function() {
        $('#paste td.linenos').each(function() {
          var state = $(this).is(':hidden') ? 'show' : 'hide';
          $(this).animate({opacity: state}, 200);
        });
      });
      $('a.viewtoggle').bind('click', function() {
        $('div.code_' +  $(this).attr('id').replace('source_', '')).slideToggle(
         5, $(this).html() == 'View' ? $(this).html('Hide') : $(this).html('View')
        );
      });
    </script>
  </body>
</html>
