<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <xi:include href="../helpers.html" />
  <head>
    <title>${c.paste.id}</title>
  </head>
  <body>
    <h2 style="font-size: 18px; font-weight:bold;">
      ${c.paste.title or h.tag.i("No title provided")}
      <span style="font-size:0.8em; font-weight: normal;">by
      <em>${c.paste.author or "anonymous"}</em>
      </span>
    </h2>
    <div class="language">
      <b>Language:</b> <span style="lang">${c.langdict[c.paste.language or 'text']}</span>
    </div>
    <div class="tags" py:if="c.paste.tags"><b>Tags: </b><span style="taglist">
      <py:for each="tag in c.paste.tags">
        ${ h.tag.a(tag.name, href=h.url_for('pastetag', id=tag.name)) }&nbsp;
      </py:for></span>
    </div><br/>


    <div id="paste">
    <div id="paste_menu"><ul>
      <li py:if="c.paste.children or c.paste.parent_id">
        <a href="${h.url_for('pastetree', id=c.paste.id)}">Show Tree</a>
      </li>
      <li>
        <a href="${h.url_for('newpaste', id=c.paste.id)}">Reply To Paste</a>
      </li>
    </ul></div>
    ${h.code_highlight(c.paste)}
    </div>

  </body>
</html>
