<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../helpers.html" />
  <xi:include href="../layout.html" />
  <head>
    <title>${c.id}</title>
  </head>
  <body>
    <h2>Pastes tagged with ${str(c.id)}<span style="color: grey; font-size: 14px;">
      (Displaying ${c.paginator.first_item + 1} through
      ${c.paginator.last_item + 1} of ${c.paginator.item_count})</span>
    </h2>

    ${Markup(c.paginator.pager(link_var='page'))}

    <ul>
      <li py:for="paste in c.paginator">
        ${paste_item(paste)}
      </li>
    </ul>

    ${Markup(c.paginator.pager(link_var='page'))}

    <script type="text/javascript">
      $('a.viewtoggle').bind('click', function() {
        $(this).html() == 'View' ? $(this).html('Hide') : $(this).html('View');
        $('div.code_' +  $(this).attr('id').replace('source_', '')).animate(
          {height: 'toggle'}, 300, 'easeOutExpo'
        );
      });
    </script>

  </body>
</html>
