<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <xi:include href="../helpers.html" />
  <head>
    <title>Tags Cloud</title>
  </head>
  <body>
    <py:if test="len(c.tag_sizes)>0">
    <h2>Tags Cloud</h2>

    <div class="tagcloud">
      ${tagcloud(c.tag_sizes)}
    </div>
    </py:if>
    <h2 py:if="len(c.tag_sizes)&lt;1">No Tags Available</h2>
  </body>
</html>
