<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <head>
    <title>Server Error $c.code</title>
  </head>
  <body>
    <table class="error-message" width="100%"
           style="margin-top: 50px; margin-left: 0px; border: 1px dashed red;">
      <tr><td><h1>Error $c.code</h1></td></tr>
      <tr><td>$c.error_message</td></tr>
    </table>
  </body>
</html>
